<div class="banner">
<article itemscope itemtype="http://schema.org/Thing" class="list box sans">
	<header>
		<h1 itemprop="name" class="name {article_tags_plain}"><a itemprop="url" rel="bookmark" href="{article_lien}">{article_titre}</a></h1>
	</header>
	<section>
		<p itemprop="description">{article_chapo}</p>
	</section>
	<aside class="box-footer">
		<div class="pub-meta"><time>{article_date}</time> à {article_heure}</div>
		<div class="pub-tags">Tags&nbsp;: {article_tags}</div>
		<hr class="clear" />
	</aside>
</article>
</div>